/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <= 11
*/

/* Fonts */

/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/ptsans.woff2') format('woff2'),
       url('../fonts/ptsans.woff') format('woff');
  font-display: swap;
}

/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/ptsansbold.woff2') format('woff2'),
       url('../fonts/ptsansbold.woff') format('woff');
  font-display: swap;
}

/* cuprum-regular - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/cuprum.woff2') format('woff2'),
       url('../fonts/cuprum.woff') format('woff');
  font-display: swap;
}

/* cuprum-700 - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/cuprumbold.woff2') format('woff2'),
       url('../fonts/cuprumbold.woff') format('woff');
  font-display: swap;
}
/* cuprum-italic - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/cuprumitalic.woff2') format('woff2'),
       url('../fonts/cuprumitalic.woff') format('woff');
  font-display: swap;
}
/* cuprum-700italic - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('../fonts/cuprumbolditalic.woff2') format('woff2'),
       url('../fonts/cuprumbolditalic.woff') format('woff');
  font-display: swap;
}

/* Variables */

:root {
  --basic-white: #FFFFFF;
  --basic-white-opacity: rgba(255, 255, 255, 0.3);
  --basic-white-opacity-more: rgba(255, 255, 255, 0.5);

  --basic-black: #000000;
  --basic-black-opacity: rgba(0, 0, 0, 0.0001);
  --basic-tender-content-opacity: rgba(0, 0, 0, 0.25);

  --basic-grey-light: #F1F5F7;
  --basic-grey-lighter: #F4F4F4;
  --basic-grey-opacity: rgba(197, 197, 197, 0.3);
  --basic-grey-dark-opacity: rgba(169, 169, 169, 0.3);
  --basic-background-header: #F3F7F9;

  --basic-night-blue: #293449;
  --basic-night-blue-dark: #1D2739;
  --basic-night-dark: #3D546F;
  --basic-dark-blue: #32425C;

  --basic-red: #EE3643;
  --basic-red-dark: #CA2C37;
  --basic-red-more-dark: #BA2732;
  --basic-rose: #F9F5F0;
  --basic-rose-light: #F7F3EC;

  --basic-yellow: #FFD180;

  --basic-tender-first: #FFBF47;
  --basic-tender-second: #3BBCE3;
  --basic-tender-third: #DC91D8;
  --basic-tender-fourth: #8ED78F;
  --basic-tender-fifth: #FFC047;
  --basic-tender-block: grey;

  --basic-olive: #63A63E;
  --basic-olive-dark: #367315;
  --basic-olive-more-dark: #518534;
  --basic-success: #5FBB2D;

  --basic-logo-shadow: rgba(0, 0, 0, 0.24);

  --basic-border: #EAEAEA;
  --basic-border-services-item: #405069;
  --basic-border-second: #E5E5E5;
  --basic-border-third: #C5C5C5;

  --basic-text-decoration: #A9A9A9;

  --basic-socials-item: #212A3A;

  --basic-category-title: #F2F6F8;

  --basic-toggle: #ABABAB;

  --basic-add-block: #F1F1F1;

  --basic-box-shadow: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));

}

*, *:after, *:before {
  box-sizing: border-box;
}

 /* Global */

 body {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
 }

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Wrapper-center */

.wrapper {
  width: 940px;
  margin: 0 auto;
 }

/* Main Grid */

.container-grid {
  min-height: 100vh;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*Visually-hidden*/

.visually-hidden {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*Header*/

.page-header {
  min-height: 320px;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-color: var(--basic-background-header);
}

.page-header .main-nav {
  order: 1;
}

.page-header .results {
  margin-bottom: 44px;
  height: 42px;
  background-color: var(--basic-night-blue);
}

.results .container {
  display: flex;
  align-items: flex-start;
}

.page-header .main-logo {
  display: block;
  width: 220px;
  height: 47px;
  text-align: center;
  padding-top: 12px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--basic-logo-shadow);
  cursor: pointer;
}

.page-header .main-logo:active {
  background-color: var(--basic-red-more-dark);
}

.page-header .search-form {
  width: 271px;
  height: 42px;
  color: var(--basic-white);
}

.input-search + .label-search {
  display: block;
  position: relative;
}

.input-search + .label-search:focus {
  background-color: var(--basic-white);
}

.input-search + .label-search::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 17px;
  width: 17px;
  height: 17px;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.46 12.04L17 15.6 15.59 17l-3.55-3.54a7.5 7.5 0 111.41-1.41zM7.5 2a5.5 5.5 0 10.01 11.01A5.5 5.5 0 007.5 2z' fill='%23fff' opacity='.3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.input-search + .label-search:hover::before {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.46 12.04L17 15.6 15.59 17l-3.55-3.54a7.5 7.5 0 111.41-1.41zM7.5 2a5.5 5.5 0 10.01 11.01A5.5 5.5 0 007.5 2z' fill='%23fff'/%3E%3C/svg%3E");
}

.input-search + .label-search:focus::before {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.46 12.04L17 15.6 15.59 17l-3.55-3.54a7.5 7.5 0 111.41-1.41zM7.5 2a5.5 5.5 0 10.01 11.01A5.5 5.5 0 007.5 2z' fill='%23EE3643'/%3E%3C/svg%3E");
}

.search-form .input-search {
  width: 271px;
  padding: 11px 42px;
  border: 0;
  background-color: transparent;
}

.search-form .input-search::-webkit-input-placeholder {
  color: var(--basic-white);
}

.search-form .input-search::-moz-placeholder {
  color: var(--basic-white);
}

.search-form .input-search::placeholder {
  color: var(--basic-white);
}

.search-form .input-search:hover::-webkit-input-placeholder {
  color: var(--basic-white);
}

.search-form .input-search:hover::-moz-placeholder {
  color: var(--basic-white);
}

.search-form .input-search:hover::placeholder {
  color: var(--basic-white);
}

.search-form .input-search:focus::-webkit-input-placeholder {
  color: var(--basic-black);
}

.search-form .input-search:focus::-moz-placeholder {
  color: var(--basic-black);
}

.search-form .input-search:focus::placeholder {
  color: var(--basic-black);
}

.search-form .input-search:focus {
  background-color: var(--basic-white);
}

.page-header .order-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 299px;
  display: flex;
}

.order-list .order-link {
  display: block;
  color: var(--basic-white);
  position: relative;
}

.order-list .order-link:hover,
.order-list .order-link:focus {
  color: var(--basic-white);
}

.order-list .order-link:active {
  color: var(--basic-white-opacity-more);
}

.order-list .order-link-active {
  background-color: var(--basic-red);
}

.order-list .order-link-bookmarks {
  padding: 9px 16px 9px 43px;
  margin-right: 13px;
  width: 150px;
}

.order-list .order-link-basket {
  padding: 9px 16px 9px 36px;
  width: 136px;
}

.order-list .order-link-bookmarks::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 19px;
  width: 14px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 15c0 .55-.37.74-.82.43l-5.36-3.77a1.54 1.54 0 00-1.64 0L.82 15.43c-.45.31-.82.12-.82-.43V1a1 1 0 011-1h12a1 1 0 011 1v14z' fill='%23fff' opacity='.3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.order-list .order-link-bookmarks:hover::before,
.order-list .order-link-bookmarks:focus::before {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 15c0 .55-.37.74-.82.43l-5.36-3.77a1.54 1.54 0 00-1.64 0L.82 15.43c-.45.31-.82.12-.82-.43V1a1 1 0 011-1h12a1 1 0 011 1v14z' fill='%23fff' /%3E%3C/svg%3E");
}

.order-list .order-link-bookmarks:active::before {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 15c0 .55-.37.74-.82.43l-5.36-3.77a1.54 1.54 0 00-1.64 0L.82 15.43c-.45.31-.82.12-.82-.43V1a1 1 0 011-1h12a1 1 0 011 1v14z' fill='%23fff' opacity='.3'/%3E%3C/svg%3E");
}

.order-list .order-link-basket::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.3' fill='%23fff'%3E%3Cpath d='M4.5 15a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM12.5 15a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM15 2H4.07l-.42-2H0v2h2.03l1.99 9H15V9H9.44L15 6.95V2z'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.order-list .order-link-basket:hover::before,
.order-list .order-link-basket:focus::before {
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fff'%3E%3Cpath d='M4.5 15a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM12.5 15a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM15 2H4.07l-.42-2H0v2h2.03l1.99 9H15V9H9.44L15 6.95V2z'/%3E%3C/g%3E%3C/svg%3E");
}

.order-list .order-link-basket:active::before {
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.3' fill='%23fff'%3E%3Cpath d='M4.5 15a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM12.5 15a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM15 2H4.07l-.42-2H0v2h2.03l1.99 9H15V9H9.44L15 6.95V2z'/%3E%3C/g%3E%3C/svg%3E");
}

.page-header .order {
  padding: 9px 16px 9px 19px;
  width: 150px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: var(--basic-white);
  background-color: var(--basic-olive);
  border: 0;
  cursor: pointer;
}

.page-header .order:hover,
.page-header .order:focus {
  background-color: var(--basic-success);
}

.page-header .order:active {
  color: var(--basic-white-opacity-more);
}

.page-header .grid-about {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-content: start;
}

.page-header .description {
  grid-column: 1/2;
  margin: 0;
  padding-left: 30px;
  width: 227px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
}

.page-header .contacts {
  grid-column: 2/3;
  display: flex;
  flex-wrap: wrap;
  padding-left: 7px;
  padding-top: 2px;
  font-style: normal;
}

.page-header .phone {
  margin: 0;
  margin-bottom: 3px;
  padding: 4px 43px 5px;
  width: 270px;
  border: 3px solid var(--basic-white);
  display: flex;
  justify-content: flex-end;
}

.page-header .phone-link {
  display: block;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  position: relative;
}

.page-header .phone-link:before {
  content: "";
  position: absolute;
  top: 6px;
  left: -35px;
  width: 19px;
  height: 19px;
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.57 18.98h-.94a14.53 14.53 0 01-9.36-4.86 16.33 16.33 0 01-4.3-9.9V3.09c.09-.77.47-1.3.9-1.75C2.43.77 3.26.04 4 .02 4.56 0 5.5.4 5.88.92c.33.44.5 1.34.66 2 .15.67.5 1.64.4 2.29-.14 1-1.48 1.43-1.87 2.17a14.03 14.03 0 006.29 7.03c.71-.4 1.35-1.57 2.33-1.6.36 0 .82.18 1.19.29.4.12.74.27 1.1.4.6.23 1.65.53 2 1.03.37.51.57 1.35.5 1.88-.17 1.04-1.89 2.2-2.9 2.57z' fill='%23B7BFC8'/%3E%3C/svg%3E");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.page-header .adress {
  margin: 0;
  padding-left: 10px;
  width: 260px;
  color: var(--basic-dark-blue);
  font-size: 14px;
  justify-self: center;
}

.page-header .login {
  padding-top: 2px;
  grid-column: 3/-1;
  display: flex;
  justify-content: flex-end;
}

.page-header .enter,
.page-header .registration {
  display: block;
  text-align: right;
  height: 45px;
  padding: 12px 24px;
  color: inherit;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
}

.page-header .enter {
  width: 121px;
  padding-right: 28px;
  margin-right: 9px;
  position: relative;
}

.page-header .enter:hover,
.page-header .enter:focus,
.page-header .registration:hover,
.page-header .registration:focus {
  color: var(--basic-red);
}

.page-header .enter:active,
.page-header .registration:active {
  color: var(--basic-border-third);
}

.page-header .enter::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 19px;
  width: 20px;
  height: 17px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.17 8.5L5.7 0v6H0v5h5.71v6l8.46-8.5z' fill='%23C5C5C5'/%3E%3Cpath d='M16.18 15.01h-4.79V17h4.79c2.07 0 2.86-1.81 2.88-3.03V3.03C19.04 1.8 18.26 0 16.18 0h-4.79v1.99h4.79c.8 0 .94.68.96 1.06v10.9c-.02.38-.16 1.06-.96 1.06z' fill='%23C5C5C5'/%3E%3C/svg%3E");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.page-header .enter:hover::before,
.page-header .enter:focus::before {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.17 8.5L5.7 0v6H0v5h5.71v6l8.46-8.5z' fill='%233D546F'/%3E%3Cpath d='M16.18 15.01h-4.79V17h4.79c2.07 0 2.86-1.81 2.88-3.03V3.03C19.04 1.8 18.26 0 16.18 0h-4.79v1.99h4.79c.8 0 .94.68.96 1.06v10.9c-.02.38-.16 1.06-.96 1.06z' fill='%233D546F'/%3E%3C/svg%3E");
}

.page-header .enter:active::before {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.17 8.5L5.7 0v6H0v5h5.71v6l8.46-8.5z' fill='%23C5C5C5'/%3E%3Cpath d='M16.18 15.01h-4.79V17h4.79c2.07 0 2.86-1.81 2.88-3.03V3.03C19.04 1.8 18.26 0 16.18 0h-4.79v1.99h4.79c.8 0 .94.68.96 1.06v10.9c-.02.38-.16 1.06-.96 1.06z' fill='%23C5C5C5'/%3E%3C/svg%3E");
}

.page-header .registration {
  width: 150px;
}

.page-header .nav-list {
  margin: 0;
  margin-bottom: 60px;
  padding: 0 28px 0 27px;
  list-style-type: none;
  background-color: var(--basic-dark-blue);
  box-shadow: inset 0px -5px 0px var(--basic-night-blue);
  display: flex;
  flex-wrap: wrap;
}

.page-header .nav-item {
  margin-right: 5px;
  color: var(--basic-white);
}

.page-header .nav-item:nth-child(7) {
  margin-right: 0px;
}

.page-header .nav-link {
  color: var(--basic-white);
  display: block;
  padding: 16px 24px 20px 27px;
}

.page-header .nav-link:hover,
.page-header .nav-link:focus {
  background-color: var(--basic-night-blue);
}

.page-header .nav-link:active {
  background-color: var(--basic-night-blue-dark);
  color: var(--basic-white-opacity-more);
}


.red-text {
  color: var(--basic-red);
}

/* Login-on */

.page-header .login-on {
  padding-top: 2px;
  padding-left: 13px;
  grid-column: 3/-1;
  display: flex;
  flex-direction: column;
}

.login-on .block {
  margin-bottom: 7px;
  width: 299px;
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
}

.login-on .name {
  width: 242px;
  padding: 12px 0 10px 56px;
  display: block;
  color: var(--basic-black);
  cursor: pointer;
  position: relative;
}

.login-on .exit {
  display: block;
  padding: 12px 17px 10px 0;
  margin-top: 1px;
  cursor: pointer;
}

.page-header .name:hover,
.page-header .name:focus,
.page-header .exit:hover,
.page-header .exit:focus {
  color: var(--basic-black);
}

.page-header .name:active,
.page-header .exit:active {
  color: var(--basic-border-third);
}

.exit:hover path,
.exit:focus path {
  fill: var(--basic-night-dark);
}

.exit:active path{
  fill: var(--basic-border-third);
}

.login-on .name::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 16px;
  width: 20px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.88 14.67c-2.14-.74-4.25-1.67-5.2-2.4-.66-.5-.78-1.61-.52-2.4a5.49 5.49 0 001.86-4.29c0-2.8-1.8-5.08-4.02-5.08-2.22 0-4.02 2.28-4.02 5.08 0 1.8.75 3.38 1.86 4.28.26.8.14 1.92-.51 2.42-.95.72-3.07 1.65-5.21 2.39C-.03 15.4 0 18.5 0 18.5h20s.02-3.1-2.12-3.83z' fill='%23C5C5C5'/%3E%3C/svg%3E");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.login-on .name:hover::before,
.login-on .name:focus::before {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.88 14.67c-2.14-.74-4.25-1.67-5.2-2.4-.66-.5-.78-1.61-.52-2.4a5.49 5.49 0 001.86-4.29c0-2.8-1.8-5.08-4.02-5.08-2.22 0-4.02 2.28-4.02 5.08 0 1.8.75 3.38 1.86 4.28.26.8.14 1.92-.51 2.42-.95.72-3.07 1.65-5.21 2.39C-.03 15.4 0 18.5 0 18.5h20s.02-3.1-2.12-3.83z' fill='%233D546F'/%3E%3C/svg%3E");
}

.login-on .name:active::before {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.88 14.67c-2.14-.74-4.25-1.67-5.2-2.4-.66-.5-.78-1.61-.52-2.4a5.49 5.49 0 001.86-4.29c0-2.8-1.8-5.08-4.02-5.08-2.22 0-4.02 2.28-4.02 5.08 0 1.8.75 3.38 1.86 4.28.26.8.14 1.92-.51 2.42-.95.72-3.07 1.65-5.21 2.39C-.03 15.4 0 18.5 0 18.5h20s.02-3.1-2.12-3.83z' fill='%23C5C5C5'/%3E%3C/svg%3E");
}

.login-on .on-list {
  margin: 0;
  padding: 0;
  width: 210px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark-blue);
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.on-item .on-link {
  color: var(--basic-dark-blue);
}

.login-on .on-link:hover,
.login-on .on-link:focus {
  color: var(--basic-red);
}

.login-on .on-link:active {
  color: var(--basic-border-third);
}

.login-on .on-link-point {
  display: block;
  position: relative;
}

.login-on .on-link-point::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -18px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--basic-dark-blue);
}

.login-on .on-link-point:hover::before,
.login-on .on-link-point:focus::before {
  background-color: var(--basic-red);
}

.login-on .on-link-point:active::before {
  background-color: var(--basic-border-third);
}
/* Login-on is the end */

/* Footer */

.page-footer {
  min-height: 300px;
  background-color: var(--basic-dark-blue);
}

.page-footer .wrapper {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.page-footer .footer-contacts {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 323px;
}

.footer-contacts .footer-logo {
  margin-bottom: 22px;
  padding-top: 20px;
  display: block;
  width: 220px;
  height: 68px;
  text-align: center;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--basic-logo-shadow);
  cursor: pointer;
}

.footer-contacts .text {
  margin: 0;
  padding-left: 2px;
  color: var(--basic-grey-light);
}

.page-footer .footer-list {
  grid-column: 2/-1;
  grid-row: 1/2;
  width: 548px;
  justify-self: end;
  margin: 0;
  margin-top: 37px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer-list .footer-item {
  margin-right: 58px;
  margin-bottom: 34px;
}

.footer-list .footer-item:nth-child(5),
.footer-list .footer-item:nth-child(9) {
  margin-right: 0;
}

.footer-list .footer-item:nth-child(3n+4) {
  margin-right: 60px;
}

.footer-list .footer-item:nth-child(4n+4) {
  margin-right: 59px;
}

.footer-item .link {
  color: var(--basic-grey-light);
}

.footer-item:not(:nth-child(-n+5)) .link {
  color: var(--basic-yellow);
}

.footer-item .link:hover,
.footer-item .link:focus {
  text-decoration: underline;
}

.footer-item .link:active {
  opacity: 0.5;
}

.page-footer .footer-block {
  min-height: 107px;
  background-color: var(--basic-night-blue);
}

.footer-block .wrapper {
  margin-bottom: 0;
  padding-top: 34px;
  padding-bottom: 27px;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
}

.footer-block .text-copy {
  padding-top: 2px;
  grid-column: 1/2;
  width: 240px;
}

.footer-block .text {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-block .socials-list {
  grid-column: 2/3;
  margin: 0;
  padding: 0;
  padding-right: 27px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.socials-list .socials-item {
  margin-right: 3px;
  margin-bottom: 3px;
  display: flex;
}

.socials-list .socials-item:nth-child(3n) {
  margin-right: 0;
}

.socials-item .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 43px;
  border-radius: 50%;
  background-color: var(--basic-socials-item);
}

.socials-item .link:hover,
.socials-item .link:focus,
.socials-item .link:active {
  background-color: var(--basic-red);
}

.footer-block .text-feedback {
  margin-right: 5px;
  padding-top: 1px;
  grid-column: 3/4;
  width: 137px;
  justify-self: right;
}

.footer-block .text-made {
  margin-right: 11px;
  padding-top: 1px;
  grid-column: 4/-1;
  width: 100px;
  justify-self: right;
}

.text .link {
  color: var(--basic-yellow);
}

.text .link:hover,
.text .link:focus {
  text-decoration: underline;
}

.text .link:active {
  color: var(--basic-red);
}

/* Footer is the end */

/*Index Main*/

/* Tender*/

.page-main .tender {
  min-height: 409px;
  padding: 59px 0;
}

.tender .tender-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
}

.tender .tender-item {
  min-height: 123px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, -webkit-min-content);
  grid-template-rows: repeat(2, min-content);
  align-content: space-between;
  padding: 20px 0 21px 22px;
  color: var(--basic-white);
}

.tender .tender-item:first-child {
  padding-left: 23px;
  background-color: var(--basic-tender-first);
}

.tender .tender-item:nth-child(2) {
  background-color: var(--basic-tender-second);
}

.tender .tender-item:nth-child(3) {
  background-color: var(--basic-tender-third);
}

.tender .tender-item:nth-child(4) {
  padding-left: 23px;
  padding-bottom: 23px;
  background-color: var(--basic-tender-fourth);
}

.tender .tender-item:nth-child(5) {
  padding-bottom: 22px;
  background-color: var(--basic-tender-fifth);
}

.tender-item .title {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.tender-item .link {
  grid-column: 1/2;
  grid-row: 2/-1;
  display: block;
  width: 135px;
  margin-top: auto;
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-white-opacity);
}

.tender-item .link:hover,
.tender-item .link:focus {
  background-color: var(--basic-grey-opacity);
}

.tender-item .link:active {
  background-color: var(--basic-grey-dark-opacity);
}

.tender-item .img {
  grid-column: 2/-1;
  grid-row: 1/-1;
  align-self: center;
  justify-self: center;
}

.tender-item:nth-child(1) .img {
  margin-top: 5px;
  margin-left: 9px;
}

.tender-item:nth-child(2) .img {
  margin-top: 6px;
  margin-left: 2px;
}

.tender-item:nth-child(3) .img {
  margin-top: 1px;
}

.tender-item:nth-child(4) .img {
  margin-top: 3px;
  margin-left: -9px;
}

.tender-item:nth-child(5) .img {
  margin-top: 5px;
}

.tender .tender-block {
  grid-row: 2/-1;
  grid-column: 1/3;
}

.tender .tender-wrap-one {
  background-color: var(--basic-tender-block);
  background-image: url("../img/background-tender-block.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--basic-white);
  display: flex;
  flex-direction: column;
  padding-bottom: 27px;
}

.tender .tender-wrap-two {
  background-image: url("../img/background-tender-block-two.jpg");
}

.tender-wrap-one .tender-content {
  padding: 23px 24px 16px;
  margin-bottom: 18px;
  background-color: var(--basic-tender-content-opacity);
}

.tender-content .title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700px;
  text-transform: uppercase;
}

.tender-content .text {
  margin: 0;
}

.tender-wrap-one .tender-buttons {
  margin-bottom: 34px;
  display: flex;
  justify-content: space-between;
}

.tender-buttons .button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.tender-buttons .button-left {
  margin-left: 24px;
}

.tender-buttons .button-right {
  margin-right: 20px;
}

.tender-wrap-one .tender-bottom {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
}

.tender-bottom .tender-link {
  margin: 0 79px 0 24px;
  padding: 11px 45px 9px 47px;
  display: block;
  width: 192px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.tender-bottom .tender-link:hover,
.tender-bottom .tender-link:focus {
  background-color: var(--basic-red-dark);
}

.tender-bottom .tender-link:active {
  background-color: var(--basic-red-more-dark);
}

.tender-bottom .slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 30px;
  display: flex;
}

.slider-list .slider-item {
  margin-right: 10px;
  margin-bottom: 9px;
}

.slider-item .link {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  background-color: var(--basic-red);
  border: 2px solid var(--basic-white);
}

.slider-item .link-active {
  border: 5px solid var(--basic-white);
}

.slider-item:last-child .link {
  margin-right: 0;
}
/* Tender is the end*/

/* New */

.new {
  background-image: url("../img/new.png");
  background-repeat: no-repeat;
  background-position: top right;
}
/* New is the end */

/* Kind-block */

.kind-block {
  min-height: 89px;
  margin-bottom: 20px;
  padding: 25px 14px 26px 28px;
  background-color: var(--basic-rose);
  display: flex;
  justify-content: space-between;
}

.kind-block .title {
  margin: 0;
  margin-top: 4px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-dark-blue);
}

.kind-block .link {
  width: 192px;
  padding: 11px 24px 9px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}
/* Kind-block is the end */

/*Index Products */

.products .products-list {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  font-family: 'PT Sans', Arial, sans-serif;
}

.products-list .products-item {
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--basic-border);
  background-color: var(--basic-white);
  display: flex;
  flex-direction: column;
}

.products-list .products-item:nth-child(4n) {
  margin-right: 0;
}

.products-item:nth-child(1) .img {
  margin-top: -3px;
}

.products-item:nth-child(2) .img,
.products-item:nth-child(4) .img {
  margin-top: -9px;
  margin-left: -12px;
}

.products-item:nth-child(3) .img {
  margin-top: -7px;
  margin-left: -10px;
}

.products-item .block-one {
  padding: 6px 0;
  min-height: 177px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-item .block-two {
  margin-top: 1px;
  padding: 0 17px 20px 18px;
  min-height: 138px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.products-item .title {
  margin: 0;
  margin-bottom: 9px;
  width: 185px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}

.products-item .text {
  margin: 0;
  margin-bottom: 13px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-text-decoration);
}

.products-item .text-decoration{
  position: relative;
}

.products-item .text-decoration:after {
  content: "";
  position: absolute;
  width: 63px;
  height: 1px;
  top: 11px;
  left: 0px;
  background-color: var(--basic-text-decoration);
}

.products-item .text-sale {
  margin: 0;
  margin-left: 11px;
  padding: 10px 32px;
  width: 141px;
  height: 38px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  background-image: url("../img/red-button.jpg");
  background-repeat: no-repeat;
}

.products-item-margin .text-sale {
  margin-left: 15px;
}

/*Index Makers */

.makers .kind-block {
  padding-right: 19px;
}

.makers .makers-list {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.makers-list .makers-link {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 220px;
  height: 145px;
  border: 1px solid var(--basic-border);
  background-color: var(--basic-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.makers-list */.makers-item:nth-child(4n) .makers-link {
  margin-right: 0;
}

.makers-item:not(:first-child) .img {
  margin-top: -5px;
}

.makers-item:nth-child(4) .img,
.makers-item:nth-child(7) .img {
  margin-top: -2px;
}

.makers-item:nth-child(5) .img {
  margin-top: 2px;
  margin-left: 5px;
}

.makers-item:nth-child(8) .img {
  margin-left: 2px;
}


.makers-list .makers-link:hover,
.makers-list .makers-link:focus {
  -webkit-filter: var(--basic-box-shadow);
          filter: var(--basic-box-shadow);
}

.makers-list .makers-link:active {
  opacity: 0.5;
}
/*Index Makers is the end */

/*Index Services */

.page-main .services {
  padding-top: 64px;
  padding-bottom: 51px;
  background-color: var(--basic-grey-light);
}

.services .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, -webkit-min-content);
  grid-template-rows: repeat(3, min-content);
  grid-column-gap: 20px;
}

.services .title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  grid-row: 1/2;
  grid-column: 1/-1;
}

.services .text {
  margin: 0;
  margin-bottom: 21px;
  width: 394px;
  font-size: 13px;
  line-height: 24px;
  font-family: 'PT Sans', Arial, sans-serif;
  grid-row: 2/3;
  grid-column: 1/-1;
}

.services .services-list {
  margin: 0;
  padding: 50px 0 45px;
  width: 240px;
  grid-row: 3/-1;
  grid-column: 1/2;
  list-style-type: none;
  position: relative;
}

.services .services-list::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 10px;
  height: 279px;
  background-image: url("../img/services-list-object.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services .services-item {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}

.services-item .link {
  padding: 14px 22px 18px;
  width: 240px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  font-family: inherit;
  text-align: left;
  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
  box-shadow: 0px 1px 0px var(--basic-night-blue), inset 0px 1px 0px var(--basic-border-services-item);
  border: none;
  cursor: pointer;
}

.services-item .link:hover,
.services-item .link:focus {
  color: var(--basic-white);
  background-color: var(--basic-night-blue);
}

.services-item:last-child .link {
  padding-bottom: 17px;
}

.services-item .link-active {
  color: var(--basic-dark-blue);
  background-color: var(--basic-white);
  box-shadow: 0px 1px 0px var(--basic-white);
}

.services .services-block {
  grid-row: 3/-1;
  grid-column: 2/-1;
  padding-top: 48px;
  width: 619px;
  min-height: 283px;
  position: relative;
}

.services-block .title {
  margin-bottom: 29px;
  color: var(--basic-dark-blue);
}

.services-block .text {
  margin-bottom: 3px;
  width: 277px;
}

.services-block .img {
  grid-row: 3/-1;
  grid-column: 2/-1;
  position: absolute;
  right: 0;
  bottom: -47px;
}

.guarantee-block .title {
  margin-bottom: 24px;
}

.guarantee-block .text {
  width: 317px;
}

.guarantee-block span {
  display: inline-block;
  width: 2px;
}

.guarantee-block .img {
  right: -9px;
  bottom: -46px;
}

.credit-block .text {
  margin-bottom: 26px;
  width: 278px;
}

.credit-block .button {
  padding: 10px;
  margin-bottom: 22px;
  width: 195px;
  min-height: 38px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.credit-block .img {
  right: -11px;
  bottom: -49px;
}
/*Index Services is the end */

/*Index Company */

.page-main .company {
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
}

.company .title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.company .text {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: 'PT Sans', Arial, sans-serif;
}

.company .link {
  padding: 11px 40px 9px;
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-align: center;
}

.company .company-block {
  width: 460px;
}

.company-block .text {
  margin-bottom: 27px;
}

.company-block .text-second {
  margin-bottom: 2px;
  width: 400px;
}

.company-block .company-list {
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
  list-style-type: none;
}

.company-block .company-item {
  padding-left: 37px;
  margin-bottom: 12px;
  position: relative;
}

.company-block .company-item::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.company-block .company-item:nth-child(2)::before {
  top: 11px;
}

.company-block .company-item:nth-child(3)::before {
  top: 9px;
}

.company-block .link {
  width: 220px;
}

.company .company-contacts {
  width: 300px;
}

.company-contacts .text {
  margin-bottom: 33px;
  width: 180px;
}

.company-contacts .link-map {
  display: block;
  height: 158px;
  margin-bottom: 25px;
}
/*Index Company is the end */
/* Index is the end */

/* Catalog Main */

/* Catalog Category */

.page-main .category {
  padding-bottom: 59px;
  font-family: 'PT Sans', Arial, sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-column-gap: 20px;
}

.category .category-list {
  grid-column: 1/-1;
  grid-row: 1/2;
  margin: 21px 0 20px;
  padding: 0;
  list-style-type: none;
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', Arial, sans-serif;
  text-transform: uppercase;
  display: flex;
}

.category-list .category-item {
  margin-right: 41px;
  position: relative;
}

.category-list .category-item:nth-child(3) {
  margin-right: 42px;
}

.category-list .category-item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -25px;
  width: 8px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.24 5.7L1.73.96a.57.57 0 00-.72 0 .4.4 0 000 .61L6.16 6l-5.15 4.41a.4.4 0 00.01.6c.2.17.5.18.7.02L7.25 6.3A.4.4 0 007.39 6a.4.4 0 00-.15-.3z' fill='%23C1C6CE'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.category-list .link {
  color: var(--basic-black);
}

.category .category-title {
  grid-column: 1/-1;
  grid-row: 2/3;
  margin: 0;
  margin-bottom: 20px;
  padding: 29px 29px 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-family: 'Cuprum', Arial, sans-serif;
  color: var(--basic-dark-blue);
  background-color: var(--basic-category-title);
}

.category .filter {
  grid-column: 1/2;
  grid-row: 3/-1;
  width: 220px;
  display: flex;
  flex-direction: column;
}

.filter .title {
  margin: 0;
  margin-bottom: 14px;
  padding: 10px 18px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  background-color: var(--basic-rose-light);
}

.filter .fieldset {
  padding: 0;
  padding-bottom: 25px;
  margin-bottom: 16px;
  border: none;
  border-bottom: 1px solid var(--basic-tender-content-opacity);
}

.filter .fieldset-power {
  border: none;
  padding-bottom: 22px;
}

.filter legend {
  margin-bottom: 11px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter .range-filter {
  margin-bottom: 9px;
  padding: 39px 20px;
  height: 80px;
  background-color: var(--basic-rose-light);
  position: relative;
  border-radius: 5px;
}

.range-filter .scale {
  width: 180px;
  height: 2px;
  background-color: var(--basic-tender-content-opacity);
}

.range-filter .bar {
  width: 152px;
  height: 2px;
  background-color: var(--basic-olive);
}

.range-filter .toggle {
  position: absolute;
  top: 30px;
  left: 16px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-toggle);
  cursor: pointer;
}

.range-filter .toggle-max {
  left: 158px;
}

.filter .block-number {
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-number label {
  width: 95px;
  background-color: var(--basic-rose-light);
  border-radius: 5px;
}

.block-number input[type="number"] {
  width: 95px;
  padding: 10px 0 10px 22px;
  background-color: transparent;
  border: none;
}

.block-number input[value="0"] {
  padding-left: 42px;
}

.filter .filter-list {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  padding-left: 33px;
  list-style-type: none;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter .filter-checkbox {
  margin-bottom: 20px;
}

.filter .filter-checkbox:last-child {
  margin-bottom: 4px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -1px;
  width: 27px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.16 0h17a3 3 0 013 3v17a3 3 0 01-3 3h-17a3 3 0 01-3-3V3a3 3 0 013-3zm18 3c0-.54-.46-1-1-1h-17c-.54 0-1 .46-1 1v17c0 .54.46 1 1 1h17c.54 0 1-.46 1-1V3z' fill='%23C5C5C5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.16 0h17a3 3 0 013 3v17a3 3 0 01-3 3h-17a3 3 0 01-3-3V3a3 3 0 013-3zm18 3c0-.54-.46-1-1-1h-17c-.54 0-1 .46-1 1v17c0 .54.46 1 1 1h17c.54 0 1-.46 1-1V3z' fill='%23B5B5B5'/%3E%3C/svg%3E");
}

.filter-input-checkbox:disabled + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.16 0h17a3 3 0 013 3v17a3 3 0 01-3 3h-17a3 3 0 01-3-3V3a3 3 0 013-3zm18 3c0-.54-.46-1-1-1h-17c-.54 0-1 .46-1 1v17c0 .54.46 1 1 1h17c.54 0 1-.46 1-1V3z' fill='%23B5B5B5' opacity='.3'/%3E%3C/svg%3E");
}

.filter-input-checkbox:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.29 7.49L4.46 10.3l7.78 7.79L26.17 4.17l-2.83-2.83-11.1 11.1-4.95-4.95z' fill='%23C5C5C5'/%3E%3Cpath d='M21 20c0 .54-.46 1-1 1H3c-.54 0-1-.46-1-1V3c0-.54.46-1 1-1h16.9L21.5.42A2.96 2.96 0 0020 0H3a3 3 0 00-3 3v17a3 3 0 003 3h17a3 3 0 003-3v-9.83l-2 2V20z' fill='%23C5C5C5'/%3E%3C/svg%3E");
}

.filter-input-checkbox:checked:hover + label::before,
.filter-input-checkbox:checked:focus + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.45 7.49L4.62 10.3l7.78 7.79L26.33 4.17l-2.82-2.83-11.1 11.1-4.96-4.95z' fill='%23B5B5B5'/%3E%3Cpath d='M21.16 20c0 .54-.46 1-1 1h-17c-.54 0-1-.46-1-1V3c0-.54.46-1 1-1h16.91L21.66.42a2.96 2.96 0 00-1.5-.42h-17a3 3 0 00-3 3v17a3 3 0 003 3h17a3 3 0 003-3v-9.83l-2 2V20z' fill='%23B5B5B5'/%3E%3C/svg%3E");
}

.filter-input-checkbox:checked:disabled + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.3' fill='%23B5B5B5'%3E%3Cpath d='M7.45 7.49L4.62 10.3l7.78 7.79L26.33 4.17l-2.82-2.83-11.1 11.1-4.96-4.95z'/%3E%3Cpath d='M21.16 20c0 .54-.46 1-1 1h-17c-.54 0-1-.46-1-1V3c0-.54.46-1 1-1h16.91L21.66.42a2.96 2.96 0 00-1.5-.42h-17a3 3 0 00-3 3v17a3 3 0 003 3h17a3 3 0 003-3v-9.83l-2 2V20z'/%3E%3C/g%3E%3C/svg%3E");
}

.filter .list-radio {
  padding-top: 9px;
}

.list-radio .filter-radio {
  margin-bottom: 22px;
}

.list-radio .filter-radio:last-child {
  margin-bottom: 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 26px;
  height: 25px;
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.16 12.5a12.5 12.5 0 1125 0 12.5 12.5 0 01-25 0zm21 0a8.51 8.51 0 00-17 0 8.51 8.51 0 0017 0z' fill='%23C5C5C5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.16 12.5a12.5 12.5 0 1125 0 12.5 12.5 0 01-25 0zm21 0a8.51 8.51 0 00-17 0 8.51 8.51 0 0017 0z' fill='%23B5B5B5'/%3E%3C/svg%3E");
}

.filter-input-radio:disabled + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.16 12.5a12.5 12.5 0 1125 0 12.5 12.5 0 01-25 0zm21 0a8.51 8.51 0 00-17 0 8.51 8.51 0 0017 0z' fill='%23B5B5B5' opacity='.3'/%3E%3C/svg%3E");
}

.filter-input-radio:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.16 12.5a12.5 12.5 0 1125 0 12.5 12.5 0 01-25 0zm21 0a8.51 8.51 0 00-17 0 8.51 8.51 0 0017 0z' fill='%23C5C5C5'/%3E%3Cpath d='M12.66 17a4.5 4.5 0 100-9 4.5 4.5 0 000 9z' fill='%23C5C5C5'/%3E%3C/svg%3E");
}

.filter-input-radio:checked:hover + label::before,
.filter-input-radio:checked:focus + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.16 12.5a12.5 12.5 0 1125 0 12.5 12.5 0 01-25 0zm21 0a8.51 8.51 0 00-17 0 8.51 8.51 0 0017 0z' fill='%23B5B5B5'/%3E%3Cpath d='M12.66 17a4.5 4.5 0 100-9 4.5 4.5 0 000 9z' fill='%23B5B5B5'/%3E%3C/svg%3E");
}

.filter-input-radio:checked:disabled + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.3' fill='%23B5B5B5'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.16 12.5a12.5 12.5 0 1125 0 12.5 12.5 0 01-25 0zm21 0a8.51 8.51 0 00-17 0 8.51 8.51 0 0017 0z'/%3E%3Cpath d='M12.66 17a4.5 4.5 0 100-9 4.5 4.5 0 000 9z'/%3E%3C/g%3E%3C/svg%3E");
}

.filter .button {
  padding: 10px 10px 8px;
  font-size: 13px;
  line-height: 18px;
  font-family: inherit;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--basic-border-second);
  cursor: pointer;
  text-align: center;
}

.category .sort {
  margin-bottom: 28px;
  padding: 10px 14px 10px 20px;
  grid-column: 2/-1;
  grid-row: 3/4;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--basic-rose-light);
  display: flex;
  justify-content: space-between;
}

.sort .sort-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 575px;
  display: flex;
}

.sort-list .sort-item {
  margin-right: 70px;
}

.sort-list .sort-item:nth-child(2) {
  margin-left: 70px;
}

.sort-list .sort-item:nth-child(3) {
  margin-right: 65px;
}

.sort-list .sort-item:last-child {
  margin-right: 0;
}

.sort-item .link {
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dotted var(--basic-red);
}

.sort-item .link:hover,
.sort-item .link:focus {
  opacity: 1;
  border-bottom-style: solid;
}

.sort-item .link:active {
  opacity: 1;
  color: var(--basic-red);
  border: transparent;
}

.sort-item .link-active {
  color: var(--basic-red);
  opacity: 1;
  border-bottom: transparent;
}

.sort .sort-button {
  display: flex;
  justify-content: space-between;
  width: 45px;
}

.sort-link:hover path,
.sort-link:focus path {
  fill: var(--basic-black);
}

.sort-link:active path {
  fill: var(--basic-red);
}

.sort-link-active path {
  fill: var(--basic-red);
}

.category .products-list {
  grid-column: 2/-1;
  grid-row: 4/5;
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 18px 20px;
}

.category .products-item {
  margin: 0;
}

.category .img-2 {
  margin-bottom: 9px;
  margin-right: 12px;
}

.category .img-3 {
  margin-bottom: 7px;
  margin-right: 9px;
}

.category .img-4 {
  margin-bottom: 9px;
  margin-right: 12px;
}

.category .products-item-active {
  -webkit-filter: var(--basic-box-shadow);
          filter: var(--basic-box-shadow);
}

.products-item .products-button {
  display: flex;
  flex-direction: column;
}

.products-button .button {
  margin-bottom: 10px;
  margin-right: 2px;
  padding: 0;
  padding: 8px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: 'Cuprum', Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  width: 135px;
  height: 38px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.products-button .button-buy {
  padding-left: 21px;
  color: var(--basic-white);
  background-color: var(--basic-olive);
  box-shadow: inset 0px -3px 0px var(--basic-olive-dark);
  position: relative;
}

.products-button .button-buy:hover,
.products-button .button-buy:focus {
  background-color: var(--basic-success);
}

.products-button .button-buy:active {
  background-color: var(--basic-olive-more-dark);
}


.products-button .button-buy::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 10px;
  left: 30px;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.3' fill='%23fff'%3E%3Cpath d='M4.5 15a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM12.5 15a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM15 2H4.07l-.42-2H0v2h2.03l1.99 9H15V9H9.44L15 6.95V2z'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.products-button .button-bookmark {
  margin-bottom: 18px;
  color: var(--basic-dark-blue);
  background-color: var(--basic-white);
  border: 3px solid var(--basic-olive);
}

.products-button .button-bookmark:hover,
.products-button .button-bookmark:focus {
  border-color: var(--basic-dark-blue);
}

.products-button .button-bookmark:active {
  opacity: 0.5;
}

.category .pagination-list {
  grid-column: 2/-1;
  grid-row: 5/-1;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.pagination-list .link {
  margin-right: 10px;
  padding: 10px;
  display: block;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  min-width: 38px;
  height: 38px;
  border: 1px solid var(--basic-border-second);
  border-radius: 2px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.pagination-list .link-active {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-color: var(--basic-red);
  border-radius: 2px;
}

.pagination-list .link:hover,
.pagination-list .link:focus {
  border-color: var(--basic-border-third);
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.pagination-list .link:active {
  border-color: var(--basic-red);
}

.pagination-list .link-next {
  margin-right: 0;
  padding: 10px 30px;
  min-width: 140px;
}
/* Catalog Category is the end */

/* Catalog Mean */

.page-main .mean {
  padding: 64px 0 67px;
  background-color: var(--basic-grey-light);
}

.mean .title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.mean .text {
  margin: 0;
  margin-bottom: 1px;
  font-size: 13px;
  font-family: 'PT Sans', Arial, sans-serif;
}

/* Catalog Mean is the end */
/* Catalog Main is the end */


/* Modal Form */

.modal-form {
  margin: 0 auto;
  width: 620px;
  min-height: 432px;
  border-top: 7px solid var(--basic-red);
  background-color: var(--basic-white);
  -webkit-filter: var(--basic-box-shadow);
          filter: var(--basic-box-shadow);
  position: relative;
}

.modal-form .form {
  padding-top: 40px;
}

.modal-form .form-wrapper {
  margin: 0 auto;
  width: 460px;
  display: flex;
  flex-direction: column;
}

.form  .form-block {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.form-block .block {
  width: 220px;
  height: 70px;
  display: flex;
  flex-direction: column;
}

.form .label {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
}

.form input {
  padding: 8px 11px 12px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'PT Sans', Arial, sans-serif;
  width: 220px;
  height: 38px;
  border: 2px solid var(--basic-border-third);
}

.form input::-webkit-input-placeholder {
  color: var(--basic-text-decoration);
}

.form input::-moz-placeholder {
  color: var(--basic-text-decoration);
}

.form input::placeholder {
  color: var(--basic-text-decoration);
}

.form .textarea {
  margin-bottom: 37px;
  padding: 5px 10px;
  height: 114px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'PT Sans', Arial, sans-serif;
  border: 2px solid var(--basic-border-third);
}

.form .textarea::-webkit-input-placeholder {
  color: var(--basic-text-decoration);
}

.form .textarea::-moz-placeholder {
  color: var(--basic-text-decoration);
}

.form .textarea::placeholder {
  color: var(--basic-text-decoration);
}

.form .form-button-block {
  padding: 37px 80px;
  background-color: var(--basic-grey-lighter);
}

.form .form-button {
  padding: 9px;
  font-size: 14px;
  line-height: 18px;
  width: 460px;
  min-height: 38px;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
}

.modal-form .button-close {
  padding: 0;
  width: 21px;
  height: 21px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 14px;
  right: 11px;
}
/* Modal Form is the end */

/* Modal Map */

.modal-map {
  margin: 0 auto;
  width: 943px;
  height: 449px;
  border-top: 7px solid var(--basic-red);
  background-color: var(--basic-grey-lighter);
  -webkit-filter: var(--basic-box-shadow);
          filter: var(--basic-box-shadow);
  position: relative;
}

.modal-map iframe {
  border: none;
}

.modal-map .button-close {
  padding: 0;
  width: 21px;
  height: 21px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
/* Modal Map is the end */

/* Modal Add */

.modal-add {
  margin: 0 auto;
  padding-top: 67px;
  width: 620px;
  min-height: 282px;
  border-top: 7px solid var(--basic-red);
  background-color: var(--basic-white);
  -webkit-filter: var(--basic-box-shadow);
          filter: var(--basic-box-shadow);
  position: relative;
}

.modal-add .title {
  margin: 0 auto;
  margin-bottom: 67px;
  width: 421px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  position: relative;
}

.modal-add .title::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  top: -19px;
  left: -18px;
  background-image: url("../img/icon-mark-ok.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-add .add-block {
  padding: 36px 112px 36px 114px;
  display: flex;
  justify-content: space-between;
  background-color: var(--basic-add-block);
}

.add-block .button {
  padding: 11px 31px 9px 32px;
  width: 192px;
  min-height: 38px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  color: var(--basic-black);
  background-color: var(--basic-white);
  cursor: pointer;
}

.add-block .order-button {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.modal-add .button-close {
  padding: 0;
  width: 21px;
  height: 21px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 11px;
  right: 11px;
}
/* Modal Add is the end */

/* Modal Position */

.modal-position {
  position: fixed;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}
/* Modal Hidden is the end */

/* Modal Hidden */

.modal-hidden {
  display: none;
}
/* Modal Hidden is the end */

/* Modal Show */

.modal-show {
  display: block;
}
/* Modal Hidden is the end */
